.welcome__input {
  margin-top: 25px;
  padding: 25px 100px 25px 20px;
  border-radius: 50px;
  border: none;
}

.welcome__input::placeholder {
  font-weight: 700;
  font-family: "Open Sans", serif;
}

@media screen and (max-width: 768px) {
  .welcome__input {
    padding: 15px 60px 15px 20px;
  }
}
