.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (max-width: 768px) {
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
