.navbar {
  padding: 10px 0px;
  background-color: white;
  border-top: solid 1px #e2e8f0;
  position: relative;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__left .mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  transition: all 0.6s ease-in-out;
}
